/* CSS 로딩 스피너 스타일 */
.loader {
  height: 100dvh;
  width: 100%;
  position: absolute;
  max-width: 600px; /* PC 화면에서 최대 너비를 고정 (예: 600px) */
  background-color: #000; /* 비디오 로드 전 배경색 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:2000;
  transition: opacity 0.5s ease; /* 0.5초 동안 부드럽게 흐려짐 */
}

.loader video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비디오가 화면에 맞게 확대됨 */
}


.loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

#pages {
    position: relative;
    height: 100dvh;
    width: 100%;
    overflow: hidden; /* 넘치는 내용 숨기기 */
}

/* 신규추가 */

.page {
  height: 100dvh;
  width: 100%;
  position: absolute;
  top: 100%; /* 페이지를 화면 아래에 배치 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  opacity: 0; /* 처음엔 보이지 않게 */
  transition: opacity 3s ease, transform 1.5s ease; /* opacity와 transform에 애니메이션 추가 */
  min-height: 100dvh; /* 최소 높이를 설정해 화면에 꽉 차도록 */
  flex-direction: column;
  max-width: 600px; /* PC 화면에서 최대 너비를 고정 (예: 600px) */
  overflow: hidden; /* 넘치는 내용 숨기기 */
  background-color: #f8f8f8;
}

.current-page {
  top: 0; /* 현재 페이지를 화면에 표시 */
  opacity: 1; /* 보이게 */
}

.page1 {
  /* page1 꾸미기용 css */
  width: 100%;
  background-image: url('../images2/topview.jpg'); /* 배경 이미지 */
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 하단에 정렬 */
  align-items: center;
  color: white;
  text-align: center;
	max-width: 600px; /* PC 화면에서 최대 너비를 고정 (예: 600px) */
}

.page2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* 밝은 배경 */
  background-image: url('../images2/background.png'); /* 배경 이미지 */
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  width: 100%;
}
.page3 {
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
	background-color: #6b5b95;
  background-image: url('../images2/background.png'); /* 배경 이미지 */
  width: 100%;
}
.page4 { 
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  background-color: #f8f8f8;
  background-image: url('../images2/background.png'); /* 배경 이미지 */
  width: 100%;
}
.page5 {
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  background-color: #f8f8f8;
  background-image: url('../images2/background.png'); /* 배경 이미지 */
  width: 100%;
}
.page6  {
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  background-color: #f8f8f8;
  width: 100%;
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  background-image: url('../images2/timeline_ko.png'); /* 배경 이미지 */
}
.page7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  background-image: url('../images2/background.png'); /* 배경 이미지 */
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  width: 100%;
}
.page8 {
  /* page1 꾸미기용 css */
  width: 100%;
  height: 100%;
  background-image: url('../images2/ending_ko.png'); /* 배경 이미지 */
  background-size: cover; /* 이미지 커버 */
  background-position: center; /* 이미지 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 하단에 정렬 */
  align-items: center;
  color: white;
  text-align: center;

  max-width: 600px; /* PC 화면에서 최대 너비를 고정 (예: 600px) */
}

/* 메뉴 버튼 */
#menuButton {
  position: absolute; /* fixed에서 absolute로 변경 */
  top: 14px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
}

/* 목차 */
#menu {
display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 100dvh;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  z-index:1100;
}

#menu ul {
list-style: none;
padding: 0;
}

#menu ul li {
margin-bottom: 20px;
cursor: pointer;
}

#menu ul li:hover {
text-decoration: underline;
}

/* 메뉴 열렸을 때 표시 */
#menu.active {
display: block;
}

/* 텍스트 그라데이션과 패딩 */
.ww-text-wrapper {
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  padding: min(20vw, 120px) 0 min(10vw, 60px); /* 윗쪽 패딩 20vw, 아래쪽 패딩 10vw */
  text-align: center; /* 텍스트 중앙 정렬 */
  width: 100%; /* 모바일 화면을 고려한 너비 */
  color: black; /* 글자 색 검정 */
}

html, body {
  overflow: hidden; /* 스크롤 비활성화 */
}

body {
  font-family: 'Gowun Dodum', sans-serif; /* 전체 폰트 설정 */
  caret-color: transparent; /* 커서 색상을 투명하게 설정 */
  /* 중앙 정렬 및 고정 너비 */
  max-width: 600px; /* PC 화면에서 최대 너비를 고정 (예: 600px) */
  margin: 0 auto; /* 가로축에서 중앙 정렬 */
}

/* 각 텍스트 크기와 스타일 */
.title {
  font-size: min(6vw, 36px); /* 가장 큰 텍스트 */
  font-weight: 200; /* 굵게 */
  margin-top: min(5vw, 30px);
	margin-bottom: min(3vw, 18px);
}

.date {
  font-size: min(3.5vw, 21px);
  font-weight: 20;
  margin-bottom: min(1vw, 6px);
}

.location {
  font-size: min(3.5vw, 21px);
  font-weight: 200;
}

.content-wrapper {
  background-color: white;
  padding: min(10vw, 60px) min(5vw, 30px); /* 텍스트 여백 */
  box-shadow: 0 min(2vw, 12px) min(5vw, 30px) rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border-radius: min(2vw, 12px); /* 모서리 둥글게 */
  width: min(90vw, 540px);
  margin: 0 auto; /* 자식 요소를 중앙에 배치 */
}

.invitation-header {
  font-size: min(5vw, 30px); /* 초대문 제목 크기 */
  color: #d67d8f; /* 핑크 색상 */
  margin-bottom: min(4vw, 24px);
}

.invitation-content-left {
  font-size: min(3.2vw, 19.2px); /* 초대문 내용 크기 */
  line-height: 1.8;
  color: #563714;
}

.invitation-content-center {
  font-size: min(3.2vw, 19.2px);
  line-height: 1.8;
  color: #563714;
  text-align: center;
}

.padding18 {
  padding: min(3vw, 18px) min(4vw, 24px);
}

.padding35-fix {
  padding: min(5vw, 30px) min(5.5vw, 33px) min(2vw, 12px) min(5.5vw, 33px);
}

.page3 {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0 min(5vw, 30px);
}

.calendar-wrapper {
  width: 100%;
}

.calendar-header {
  margin-bottom: min(5vw, 30px);
  margin: min(2vw, 18px) 8vw;
}

.page-titile {
  font-size: min(7vw, 42px);
  color: #d67d8f;
  margin-bottom: min(2vw, 18px);
  text-align: center;
}
.page-titile-small {
  font-size: min(5vw, 30px);
  color: #d67d8f;
  margin-bottom: min(2vw, 18px);
  text-align: center;
}
.calendar-title {
  font-size: min(5vw, 30px);
  color: #d67d8f;
  margin-bottom: min(2vw, 18px);
}

.event-date {
  font-size: min(4vw, 24px);
  color: #563714;
}

.highlight {
  background-color: #d67d8f;
  color: white;
  border-radius: 50%;
}

.countdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: min(5vw, 30px) 0;
  /* gap: max(-2w, -12px); */
	max-width: 480px;
	margin: min(1.5vw, 9px) auto; /* 자식 요소를 중앙에 배치 */
}

.countdown-box {
  text-align: center;
  /* padding: min(1vw, 6px) min(1.5vw, 9px); */
  /* border: min(0.3vw, 1.8px) solid #e8dcd6; 테두리 색상 */
  /* border-radius: min(2vw, 18px); 모서리 둥글게 */
  /* background-color: #f9f6f5; 배경색 */
  width: min(10vw, 60px); /* 각 박스의 너비 설정 */
}

.red-bold {
  color: #e57373;
  font-weight: bold;
}

.highlight-bold {
  color:#563714;
  font-weight:800;
}

.countdown-box span {
  font-size: min(5vw, 30px);
  color: #b08a86;
  display: block;
  margin-bottom: min(0.5vw, 3px); /* 숫자와 글자 사이의 간격을 줄임 */
}

.countdown-box span + span {
  font-size: min(3vw, 18px);
  font-weight: 400px;
  margin-top: max(-1vw, -6px); /* 텍스트 위쪽의 여백을 줄여서 간격을 좁힘 */
  line-height: 1.2 /* 줄 간격을 줄여서 숫자와 글자가 가까워지게 함 */
}

.days-left {
  font-size: min(3.2vw, 19.2px); /* 초대문 내용 크기 */
  color: #666;
  text-align: center;
}

.calendar-table th:first-child, 
.calendar-table td:first-child {
  color: red; /* 일요일을 빨간색으로 설정 */
}

.base-wrapper {
  opacity: 0; /* 기본적으로 투명 상태 */
  transition: opacity 2s ease 1s; /* 부드러운 전환 애니메이션 */
}

.current-page .base-wrapper {
  opacity: 1; /* current-page가 있을 때 보이게 */
  transition-delay: 0.2s; /* current-page가 추가될 때 지연 시간 있음 */
}

/* page4 gallery */
.gallery-container {
  width: 100%;
  height: 100dvh;
  padding: 60px 0;
  display: flex;              /* Flexbox 사용 */
  justify-content: center;    /* 수평 중앙 배치 */
  align-items: center;        /* 수직 중앙 배치 */
  flex-direction: column;     /* 상하(세로) 배치 */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  margin: min(2vw, 12px) 0;
}

.gallery-item {
  cursor: pointer;
  border-radius: 1px;
  object-fit: cover; /* 사진이 영역을 넘지 않도록 */
  transition: transform 0.2s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* 첫 번째 줄: 2개 */
.gallery-item:nth-child(1),
.gallery-item:nth-child(2) {
  width: calc(50% - 10px); /* 2개씩 표시 */
}

/* 두 번째 줄: 3개 */
.gallery-item:nth-child(3),
.gallery-item:nth-child(4),
.gallery-item:nth-child(5) {
  width: calc(33.33% - 10px); /* 3개씩 표시 */
}

/* 세 번째 줄: 2개 */
.gallery-item:nth-child(6),
.gallery-item:nth-child(7) {
  width: calc(50% - 10px); /* 2개씩 표시 */
}

.lightbox {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 어두운 배경 */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 최상단 */
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
/* page4 gallery */

/* page7 */


.page7 .rsvp-button {
  margin: min(6vw, 36px) 0;
  padding: min(1.5vw, 9px) min(2vw, 12px);
  background-color: #f28b82;
  color: white;
  text-decoration: none;
  border-radius: min(0.8vw, 4.8px);
  font-size: min(3vw, 18px);
}

.page7 .rsvp-button:hover {
  background-color: #e57373;
}

/* scroll image */
.scroll-instruction {
  position: absolute;
  bottom: 20px; /* 화면 아래에서 20px */
  right: 20px; /* 화면 오른쪽에서 20px */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  background-color: rgba(243, 235, 235, 0.7); /* 투명한 회색 배경 */
  border-radius: 8px; /* 모서리를 둥글게 */
  padding: 10px; /* 여백 추가 */
  text-align: center; /* 중앙 정렬 */
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeIn 3s forwards; /* 애니메이션 추가 */
  animation-delay: 2s;
}

.scroll-instruction img {
  width: min(15vw, 90px); /* 이미지 너비 설정 */
  height: auto; /* 비율 유지 */
}

.scroll-instruction p {
  margin: 5px 0 0; /* 위쪽 여백 추가, 아래는 없앰 */
  font-size: 0.8rem; /* 작은 글씨 */
  color: rgba(0, 0, 0, 0.7); /* 연한 색깔 */
}
/* 애니메이션 정의 */
@keyframes fadeIn {
  to {
      opacity: 0.7; /* 최종 투명도 설정 */
  }
}

/* 오시는길 */
.route-content {
  display: flex; /* Flexbox를 사용하여 정렬 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  width: min(100vw, 600px); /* 전체 너비를 가득 채움 */
  height: 100vh; /* 전체 높이를 가득 채움 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  padding: 0; /* 여백 초기화 */
}

.route-content img {
  max-width: 100%; /* 이미지가 부모 요소를 넘지 않도록 설정 */
  max-height: 100%; /* 이미지 높이가 부모 요소를 넘지 않도록 설정 */
  height: auto; /* 비율 유지 */
  width: auto; /* 비율 유지 */
  display: block; /* 이미지 아래 공백 제거 */
  margin: auto; /* 이미지 중앙 정렬 */
}

/* end */
.back-image-wrapper {
  position: relative;        /* 가상 요소가 부모를 기준으로 배치되도록 설정 */
  width: 100%;
  padding: 100px 20px;
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 1;                /* 텍스트가 위에 있도록 설정 */
}

.back-image-wrapper::before {
  background-image: url('../images2/IMG_7764.JPG'); /* 배경 이미지 */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;                   /* 이미지가 요소를 덮도록 설정 */
  background-position: center;              /* 이미지 가운데 정렬 */
  opacity: 0.7;                             /* 투명도 설정 */
  z-index: -1;   
	max-width: 600px; /* PC 화면에서 최대 너비를 고정 (예: 600px) */
}

.back-image-wrapper .invitation-content-center {
  color: white;
}

.schedule-content {
  margin: min(2vw, 12px) 0;
  padding: min(4vw, 24px) min(4vw, 24px);
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.icon-text-touch {
  width: min(3vw, 20px); height: min(3vw, 20px); vertical-align: middle ;
}

.icon-text {
  width: min(5vw, 30px); height: min(5vw, 30px); vertical-align: text-top;
}

.sectionHead {
  text-align: center;
}
.sectionHead .name {
  display: block;
  font-size: min(4vw, 24px);
  color: rgb(247, 158, 158);
  /*letter-spacing: -1px;*/
  letter-spacing: min(0.084vw, 0.5px);
  line-height: 2;
}
.sectionHead .enstr {
  font-size: min(3.2vw, 19.2px);
  font-family: Crimson Pro,serif;
  letter-spacing: min(0.5vw, 3px);
  line-height: min(3.34vw, 20px);
  color: rgb(247, 158, 158);
  opacity: 1;
  /* display: none; */
  -webkit-text-stroke: 0 !important;
}